@media (max-width : 800px) {
    #header {
        height: 8vh;
    }

    .title {
        font-size: 1rem;
    }

    #nav {
        display: none;
        height: auto;
    }
    #navm {
        display: flex;
    }
    .btn1{
        height: 90%;
    }
    main{
        width: 100%;
    }
    .sec{
        width: 100%;
        margin-top: 0;
        margin-left: 0;
    }
    #downloadBtn{
        font-size: 1rem;
        padding: 0 10px 0 10px;
        text-align: center;
    }
    #homeGrid{
        grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
    }
    .card1{
        width: 180px;
        transform: scale(1);
    }
    .T1{
        font-size: 1.5rem;
    }
    .charGrid{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .card2{
        width: 180px;
        transform: scale(0.9);
    }
    #Map{
        overflow: hidden;
        width: 100vw;
        height: 90vh;
        touch-action: none;
    }
    #World{
        transform: translate(-1200px,-450px) scale(0.8);
    }
    .itemsGrid1{
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        display: block;
    }
    .img6{
        width: 80vw;
    }
}
@media (max-width: 1400px) and (min-width: 800px) {
    .btn1{font-size: 0.8rem;}
    .img1{
        height: 1rem;
    }
    .subH li{
        font-size: 0.8rem;
        height: auto;
    }
    #Map{
        overflow: hidden;
    }
}