.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins';
}
a {
    display: block;
    text-decoration: none;
    width: 100%;
    color: black;
}
.S {
    justify-content: flex-start !important;
}

.img {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

#header {
    justify-content: space-between;
    background-color: rgb(69, 225, 246);
    height: clamp(50px, 10vh, 75px);
    padding: 0 20px 0 20px;
    position: sticky;
    top: 0;
    z-index: 20;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: 'Cinzel';
    color: gold;
    -webkit-text-stroke: 1px rgb(158, 169, 7);
    font-size: 2rem;
    cursor: pointer;
}

#nav {
    position: fixed;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.5);
    height: 90vh;
    width: 15vw;
    justify-content: flex-start;
    gap: 5px;
    padding-top: 5px;
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn1 {
    font-size: 1.5rem;
    width: 100%;
    color: rgb(210, 210, 210);
    border-radius: 10px;
    cursor: pointer;
}
.img1{
    aspect-ratio: 1;
    height: 1.8rem;
    margin: 0 5px 0 5px;
}
.arrow{
    transform: rotate(-90deg);
    transition: all 500ms ease-in-out;
}
.Darrow{
    transform: rotate(0);
    transition: all 400ms ease-in-out;
}
.b{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.b:hover {
    background-color: rgb(46, 46, 46);
}
.subH li{
    width: 100%;
}
.subH li:hover {
    background-color: rgb(46, 46, 46);
}
.btnX {
    background-color: rgb(69, 225, 246);
    color: black;
}
.btnX:hover{
   background-color: rgb(69, 225, 246) !important;
}
.btn1.btnX .b:hover {
     background-color: rgb(0, 183, 207);
}
.btn1.btnX .subH li:hover{
    background-color: rgb(0, 183, 207);
}
#navm {
    width: 100vw;
    height: 5vh;
    position: fixed;
    background-color: rgb(249, 238, 166);
    bottom: 0;
    bottom: env(safe-area-inset-bottom);
    z-index: 6;
    display: none;
}

.sec {
    width: 84vw;
   margin-top: 0vh;
    margin-left: 15vw;
    flex-wrap: wrap;
    padding-left: 10px;
    display: none;
    z-index: 5;
    overflow: hidden;
}

.h1 {
    width: 100%;
    color: aqua;
    font-family: poppins;
}

.visible {
    display: flex;
}
.visibleB{
    display: block !important;
}
.a {
    color: white;
    font-size: 1.5rem;
    padding-left: 25px;
    text-shadow: 3px 2px 3px black;
    font-family: poppins;
}
#homeGrid{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
@keyframes shadow {
    0%{box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.8);}
    100%{box-shadow: 0 0 20px 10px rgba(0, 255, 255, 0.8);}
}
#downloadBtn{
    background-color: aqua;
    color: rgb(4, 221, 0);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(5, 149, 19);
    width: 60%;
    aspect-ratio: 8;
    border-radius: 50px;
    font-size: 2rem;
    margin: 10vh 0 10vh 20%;
    animation: shadow 1s ease-in-out  infinite alternate-reverse ;
    text-align: center;
}
.subH{
    list-style: circle;
    display: none;
    position: relative;
    font-size: 1.2rem;
    width: 100%;
    padding-left: 20px;
    color: black;
}
.card1{
    margin: 10px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    aspect-ratio: 2/3;
    width: 300px;
    border: 4px solid rgb(255, 255, 255);
    transform: scale(0.9);
    transition: all 1s ease-in-out;
}
.img2{
    position: absolute;
    height: 100%;
    width: 100%;
}
.T1{
    position: absolute;
    bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
    color: white;
    transform: scale(1);
    transition: all 1s ease-in-out;
}
.card1:hover .T1{
    color: aqua;
    transform: scale(1.2);
    transition: all 1s ease-in-out;
    -webkit-text-stroke: 1px rgb(0, 161, 161);
}
.card1:hover{
     border: 5px solid aqua;
     transform: scale(1);
     transition: all 1s ease-in-out;
}
.charGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
}
.card2{
    width: 250px;
    aspect-ratio: 0.6;
    border: 3px solid white;
    border-radius: 20px;
    transform: scale(0.8);
    transition: all 300ms ease-in-out;
    padding: 10px;
    background-color: orange;
}
.card2:hover{
     border: 5px solid aqua;
     transform: scale(1);
     transition: all 200ms ease-in-out;
}
.img3{
    aspect-ratio: 1;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(64, 64, 64);
}
.charData{
    list-style-type: none;
    font-family: poppins;
    width: 100%;
    font-size: 150%;
    color: rgb(3, 93, 39);
}
.charData.charData1{
    font-size: 100%;
}
.charData .charData1:hover {
    transform: scale(0.8);
}
#demons .card2{
    font-size: 120%;
}
#beasts .card2{
    font-size: 130%;
}
#Map{
    padding-left: 0;
    overflow: hidden; 
    cursor: grab;
    position: relative;
    height: 90vh;
    width: 85vw;
    touch-action: none;
}
#FullMap{
    position: absolute;
    transform-origin: 0 0;
    z-index: 10;
    top: 0;
    left: 0;
}
#world {
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 0 0;
    will-change: transform;
    width: 3116px;
    height: 2421px;
}
#labels{
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 21;
}
.labels {
    position: absolute;
    padding: 4px 10px;
    font-family: serif;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
    white-space: nowrap;
    user-select: none;
    z-index: 21;
}
.transition{
    transition: all 1s ease-in-out;
}
.itemsGrid1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}
.c{
    font-size: 2.5rem;
    color: rgb(255, 145, 0);
    text-shadow: 0 0 5px rgb(128, 0, 255);
    position: relative;
    margin-top: 5px;
    padding-left: 10px;
}
.d{
    list-style: none;
}
.e{
    margin: 10px;
    background-color: rgba(255, 228, 25, 0.495);
    border-radius: 20px;
}
.img6{
    width: 30vw;
    height: auto;
    border: 2px solid aqua;
    border-radius: 10px;
}
footer {
    height: 15vh;
    display: none;
}
@keyframes intro {
    0%{transform: scale(0.8);
        box-shadow: 0 0 0 0 rgba(0, 255, 255, 0.8);
    }
    100%{transform: scale(1);
        box-shadow: 0 0 10px 20px rgba(0, 255, 255, 0.8);
    }
}
.popH{
    animation: intro 2s ease-in-out  1 ;
}
.lockUI{
    pointer-events: none !important;
}


